@import "~@axa/ng-toolkit-scss/helpers/color";

img {
  max-width: 314px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10px;
}

.form-separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid $axa-color-silver;
  margin-top: 10px;
  margin-bottom: 10px;
}
