.frame.banner {
  width: 100%;
  height: 200px;
  background-color: #025f6b;
  margin-bottom: -100px;
}

.frame.page-title {
  width: 540px;
  padding: 40px;
  text-align: left;
  background: white;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
  font-size: 52px;
}

.h1-edit {
  margin-block-end: 0;
}
